.grid-container{
    display: grid;
    grid-template-areas:
    'header header  header  header  header  header  header  header'
    'menu   main    main    main    main    main    main    main';
  }
  
  .grid-navbar{
    grid-area: menu;
  }
  
  .grid-toolbar{
    grid-area: header;
  }
  
  
  
  .grid-content{
    grid-area: main;
  }